{% extends "_base.html" %}
{% block content %}

<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl">
                <span class="block xl:inline">Balance: {{ balance | round_currency_up | currency }}</span>
            </h1>
            {% if balance < -0.01 %} <div class="mt-5 sm:mt-8 justify-center">
                <div class="mb-5 text-gray-700 dark:text-gray-300">
                    A negative balance means you owe money. Please make a payment to settle your balance.
                </div>
                <div class="rounded-md shadow">
                    <a href="https://www.paypal.com/paypalme/Force2010G/{{ balance  | round_currency_up | abs }}"
                        class="flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:py-4 md:px-10 md:text-lg">Pay
                    </a>
                </div>
        </div>
        {% elif balance > 0.01 %}
        <div>You are owed this amount.</div>
        {% endif %}
    </div>
</section>

<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">

            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">Name</th>
                            <th scope="col" class="px-4 py-3">Date</th>
                            <th scope="col" class="px-4 py-3">Amount</th>
                            <th scope="col" class="px-4 py-3">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for it in ledger %}
                        <tr class="border-b dark:border-gray-700">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 dark:text-white">
                                <div class="pl-3">
                                    <div class="text-base font-semibold">{{it.transaction.description |
                                        truncate(30,true) }}</div>
                                    <div class="font-normal text-gray-500">{% if it.transaction.event -%}
                                        {{ it.transaction.event.name | truncate(20,true)}}
                                        {% endif -%}</div>
                                </div>
                            </th>
                            <td class="px-4 py-3">{{ it.transaction.created_at.strftime('%b %d, %Y') }}</td>
                            <td class="px-4 py-3">
                                <div class="flex items-center">
                                    {% if it.transaction.amount > 0 %}
                                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div>
                                    {% endif %}
                                    {{ it.transaction.amount_per_person | round_currency_up | currency }}
                                </div>
                            </td>
                            <td class="px-4 py-3">{{ it.total | round_currency_up | currency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


{% endblock %}